/bestpayclient/gen
/bestpayclient/proguard
/bestpayclient/.settings
/bestpayclient/bin
/bestpayclient/.gradle

/bestpayclient/.amateras
/bestpayclient/.classpath
/bestpayclient/project.properties
/bestpayclient/lint.xml
/bestpayclient-common/bin
/bestpayclient-common/gen
/bestpayclient-common/.settings
/bestpayclient-common-ui/gen
/bestpayclient-common-ui/.settings
/bestpayclient-common-ui/bin
/bestpayclient-common-ui/*.properties
/bestpayclient-common/*.properties
/bestpayclient-common/project.properties
/bestpayclient-common-ui/bestpayclient-common

/bestpayclient-common-ui/*.iml

/bestpayclient-common/*.iml

/bestpayclient/*.iml
/.gradle
/build
/.idea
/beatpayclientPullToRefresh/library/build
/bestpayclient/build
/bestpayclient-common-ui/build
/bestpayclient-common/build
/*.iml
/build.gradle
/local.properties
/bestpayclient/build.gradle
/.metadata

*.apk
/bestpayphoto/bin
/bestpayphoto/gen
/XDPluginEclipse/bin
/XDPluginEclipse/gen
/XDPluginEclipse/assets/fis-conf.js
/XDPluginEclipse/assets/output
/XDPluginEclipse/.metadata
/XDPlugin/.gradle
/XDPlugin/build
/XDPlugin/app/build
/XDPlugin/baseh5plugin/build
/XDPlugin/app/src/main/assets/bestpay

/androidtcxdapp/build/*
/androidtcxdapp/.idea/*
/androidtcxdapp/.gradle/*
/androidtcxdapp/TCXD/build/*
/androidtcxdapp/TCXD/TCXD.iml
/androidtcxdapp/build
/androidtcxdapp/baseh5plugin/build
/androidtcxdapp/TCXD/src/main/assets/bestpay

/freeBorrow/bin/**

**/local.properties

.idea/*
*.idea
*.DS_Store

node_modules/*
/node_modules

/mkLink.bat
/mkLink.sh
release
.tmp
tmp
